body {
  background-color: rgb(14, 59, 44);
}

.headLine {
  color: brown;
  font-size: larger;
  width: fit-content;
  margin: 0 auto;
}

.para {
  width: fit-content;
  margin: 0 auto;
}

div {
  width: fit-content;
  margin: 0 auto;
}
