body > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

body > div > div {
  font-size: x-large;
  text-align: center;
  padding: 10px;
  border: 1px solid teal;
  background-color: wheat;
}
